* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.top__content__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-top: 217px;
  width: 789px;
  margin-bottom: 32px;
}

.top__content__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  width: 482px;
}

button {
  width: 234px;
  height: 49px;
  border: 1px solid #9C0332;
  background-color: #9C0332;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button:hover {
  background-color: #EB443F;
  cursor: default;
  cursor: url("../img/hover-forMouse.svg"), pointer;
}

.top__button {
  margin-top: 44px;
}

.games {
  height: 556px;
  background-image: url(../img/centerbackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.games__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

.games__content_item {
  position: relative;
}

.games__content_item__text {
  position: absolute;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  height: 31.64px;
  left: 32px;
  bottom: 32px;
}

.games__content_item_img {
  border: 3px solid transparent;
}

.games__content_item_img:hover {
  border: 3px solid #44D2FF;
  border-radius: 16px;
  background-color: #EB443F;
  cursor: default;
  cursor: url("../img/hover-forMouse.svg"), pointer;
}

.seasons {
  height: 800px;
  background-image: url(../img/bgseasons.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.seasons__content {
  margin-top: 282px;
}

.seasons__content__text_top {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-bottom: 32px;
}

.seasons__content__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  width: 584px;
}

.seasons__content__img {
  display: block;
}

.seasons__content_img_style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seasons__content__img_mobile {
  display: none;
}

.mystery {
  height: 800px;
  background-image: url(../img/backgroundMystery.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mystery .mystery__content {
  padding-top: 277px;
}

.mystery .mystery__content__text__top {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 32px;
}

.mystery .mystery__content__text__content {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 32px;
}

.button__mystery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .center {
    padding-right: 16px;
    padding-left: 16px;
  }
  .top {
    height: 735px;
  }
  .top__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top__content__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #ffffff;
    margin-top: 238px;
    width: 343px;
    margin-bottom: 32px;
  }
  .top__content__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    width: 343px;
    text-align: center;
  }
  .top__button {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .games {
    height: 1221px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .games__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 32px;
  }
  .games__content_img_mobile {
    width: 343px;
    height: 300px;
    top: 863px;
    gap: 32px;
  }
  .games__content_item__text {
    height: 31.64px;
    left: 14px;
  }
  .seasons {
    height: 636px;
    background-image: url(../img/backgroundphoneseasons.jpg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seasons__content {
    margin-top: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .seasons__content__text_top {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  .seasons__content__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    width: 343px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .seasons__content_img_style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .seasons__content__img {
    display: none;
  }
  .seasons__content__img_mobile {
    width: 344px;
    height: 236px;
    display: block;
    margin-top: 64px;
  }
}

.words_order_mob1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.words_order_mob2 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.mystery {
  height: 800px;
}

.mystery .mystery__content {
  padding-top: 52px;
}

.mystery__content__text__top {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
/*# sourceMappingURL=style.css.map */